.btn {
  @include btn-reset;
  position: relative;
  padding: 1.5rem 2.9rem;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #5f458c;
  letter-spacing: -0.04em;

  @media (min-width: $stop-scaling) {
    padding: 15px 29px;
    font-size: 24px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 1rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 1rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  // &::before {
  //   @include center;
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   background-color: $c-light;
  //   border: 2px solid $c-light;
  //   border-radius: 3.5rem;
  //   z-index: -1;
  // }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      width: 103%;
      height: 108.5%;
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.game__btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $c-dark;
  transform: translate(-50%, -50%);
  content: "";
  width: 100%;
  height: 100%;
  background-color: $c-light;
  border: 2px solid $c-light;
  border-radius: 3.5rem;
  z-index: -1;
}

.rules__btn::before {
  opacity: 1;
  position: absolute;
  top: 0%;
  right: 0%;
  color: white;
  // transform: translate(-50%, -50%);
  content: "";
  width: 100%;
  height: 100%;
  background-color: $c-light;
  border: 2px solid $c-light;
  border-radius: 3.5rem;
  z-index: -1;
  animation: rules__btn 0.5s ease 2.5s backwards;
}

.rules__btn p {
  opacity: 1;
  animation: rules__btn__p 1s ease 2.7s;
}

@keyframes rules__btn {
  from {
    opacity: 0;
    right: 0%;
    width: 35%;
    z-index: 44;
  }
}

@keyframes rules__btn__p {
  from {
    opacity: 0;
  }
}
